extends layout

block content
  p
    a(href="/") Salir
  h1= title
  p Welcome to #{title}
  p
    a(href="/load_file") Cargar nueva información
  h2 Usuarios disponibles
  table
    thead
      tr
        each column in keys
          th(scope='col')= column
    tbody
      each user in users
        tr  
          each column in keys
            td= user._doc[column]
          

