extends layout

block content
  p
    a(href="/index") Regresar
  h1= title
  p Welcome to #{title}
  br
  h2 Subir Archivo
  form(action="/load_file", method="post" enctype="multipart/form-data")
    input#data(type="file", name="data" accept='.xlsx')
    br
    br
    input(type="submit", value="Continuar")
          

