extends layout

block content
  h1= title
  p Bienvenido de nuevo
  br
  br
  form(action="/", method="post")
    input#email(type="email", name="email" placeholder="Ingresa tu email")
    br
    br
    input#pass(type="password", name="pass" placeholder="Contraseña")
    br
    br
    input(type="submit", value="Ingresar")
