body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th, td{
  border: 1px solid black;
}
table {
  width: 50%;
  border-collapse: collapse;
}